project = "infra-123456"

public_key_path = "~/.ssh/appuser.pub"

private_key_path = "~/.ssh/appuser"

disk_image = "reddit-base-123456789"

db_disk_image = "reddit-db-base"

app_disk_image = "reddit-app-base"